
@using (Html.BeginForm("Busqueda", "Partido", FormMethod.Post))
{
    <div>
        <label>Ingrese el numero de partido a buscar</label>
        <input type="text" name="nuevo" />
        <input type="submit" value="Buscar" />
    </div>
}

