@using (Html.BeginForm("Eliminar", "Partido", FormMethod.Post))
{
    <div>
        <label>Ingrese el numero de partido a eliminar</label>
        <input type="text" name="Ingreso" />
        <input type="submit" value="Importar" />
    </div>
}
