@using (Html.BeginForm("IngresoStringManual", "Arboles", FormMethod.Post))
{
    <div>
        <label>Nombre</label>
        <input type="text" name="Nombre" />
        <input type="submit" value="Ingresar" />

    </div>
}
