
@using Lab3_Edwin_Ana.Models;

@model IEnumerable<Partido>

@using (Html.BeginForm("IngresoJson", "Partido", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />
    </div>
}

